@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@theme {
  --color-techDark: #0a0e17;      /* Sleek Dark Background */
  --color-techSurface: #131926;   /* Translucent Surface Card */
  --color-brandRed: #dc2626;      /* Logo matching Pure Red */
  --color-brandRedGlow: #ef4444;  /* Glowing Red for hover effects */
}

* {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
  background-color: var(--color-techDark);
  color: #ffffff; /* Contrast text */
  overflow-x: hidden;
}